{% load widget_tweaks %}
<h2>Добавить папку</h2>
<form method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label>Название папки</label><br>
    {% render_field folderForm.name autocomplete="off" %}
  </div>
  <br><br>
  <div class="form-group">
    <button type="submit" class="add-form-submit">Отправить</button>
    <button onclick="closeNav()" class="add-form-cancel">Отмена</button>
  </div>
</form>
<script>
  function closeNav(){
    document.getElementById("mySidebarRight").style.width = "0px";
    document.getElementsByTagName("main")[0].style.marginRight = "0px";
  }
</script>