{% extends 'navbar.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<style>
  main{
    height: calc(100vh - 95px);
    position: relative;
    margin: 0px 200px;
    background: var(--grey);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .main-board-container {
    position: relative;
    width: 100%;
    height: 63%;
  }
  .board-container {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
    flex-wrap: wrap;
    box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 0.5);
    justify-content: center;
  }
  .board-container.active{
  display: flex;
    }
  .bottom-bar-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    background: var(--light-grey);
<!--    z-index: 10;-->
  }
  .sentence-bar{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .tab-container {
    height: 13%;
    display: flex;
    flex-wrap: wrap;
  }
  .tab {
    width: 150px;
    height: 100%;
    background: var(--main-color);
    border-radius: 0px 0px 25px 25px;
    box-shadow: inset 0px 9px 6px -5px rgba(0, 0, 0, 0.3);
    margin-right: 5px;
  }
  .tab.active {
    box-shadow: 5px 9px 6px -5px rgba(0, 0, 0, 0.3);
  }
  .tab-add {
    width: 150px;
    height: 100%;
    background: var(--main-color);
    border-radius: 0px 0px 25px 25px;
    box-shadow: inset 0px 9px 6px -5px rgba(0, 0, 0, 0.3);
    margin-right: 5px;
    background: #a2a2a2;
  }
  .tab-button {
    width:100%;
    height: 100%;
    border: none;
    background: transparent;
    padding: 5px;
    color: #fff;
  }
  .strap-container {
    height: 100%;
    display: flex;
    margin: 0px 5px;
    justify-content: center;
    position: relative;
  }
  .strap {
    position: absolute;
    width: 10px;
    z-index: 0;
    height: calc(100% );
    filter: brightness(120%);
  }
  .drag {
    width: 150px;
    height: 150px;
    background: red;
  }
  .board-buttons{
    width: 50px;
    height: 100%;
    float:right;
    margin:auto;
    z-index: 5;
}
.board-button {
    background: transparent;
    backdrop-filter: brightness(125%);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    height: 40px;
    width: 40px;
    margin-top: 15px;
}
.card-img-top {
        width:60px;
        height:60px;
        object-fit: cover;
}
.board-item{
    width:80px;
    height: 90px;
    margin: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.img-container{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
}
.img-container .board-item{
    width:80px;
    height: 90px;
    margin: auto;
    margin-top: 5px;
}
.board-content-wrapper{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    width: calc(100% - 60px);
    height: 100%;
    position: relative;
    padding: 20px;
}
.unlock-button {
    display: flex;
    position: absolute;
    z-index: 10;
    right:0;
    margin: 15px;
    font-size: 25px;
    padding: 8px;
    background: transparent;
    backdrop-filter: brightness(70%);
    border-radius: 10px;
    color: var(--text-color);
    border: none;
}
.edit-bar{
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    padding: 20px;
}
.edit-button {
    width: 80px;
    height: 80px;
    font-size: 30px;
    margin: 15px;
    background: transparent;
    border: none;
}
.library-bar{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: none;
}
.library-image-container {
    display: flex;
    overflow: auto;
    padding: 5px;
    margin-top: 5px;

}
.library-bar-item {
    width:80px;
    height: 90px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.sort-button {
    border: none;
    border-radius: 15px;
    background: var(--main-color);
    margin: 3px;
    padding: 2px 8px;
    color: #fff;
}
.sort-button.active {
    filter: brightness(70%);
}
.back-button {
    margin-right: 15px;
    border: none;
    background: transparent;
    font-size: 20px;
}
.library-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0 ,0 , 0.5);
    color: #fff;
  }
.library-header {
    background-color: rgba(0, 0 ,0 , 0.4);
    color: #fff;
    padding: 10px 20px;
    display: flex;
}
</style>

  <div class="main-board-container">
      <button class="unlock-button" id="unlock" onclick="unlock()"><i class="fa-solid fa-lock"></i></button>
    {% for tab in tabs %}
    <div class="board-container {% if forloop.first %}active{% endif %}" style="background: {{tab.color}}">
      {% for strap in ""|ljust:tab.straps_num %}
      <div class="strap-container" style="width: calc(80%/{{tab.straps_num}})" name="{{strap}}">
        <div class="img-container droppable" ondragover="allowDrop(event)" ondrop="drop(event)">
            {% with index=forloop.parentloop.counter %}
            {% if forloop.first %}
              {% for imgs in t_imgs %}
                {% if forloop.counter == index %}
                {% for img in imgs %}
                    <div id="card_{{img.id}}" class="board-item" draggable="true" ondragstart="dragStart(event)" style="top: {{img.position_y}}px; left: {{img.position_x}}px;">
                <div class="card">
                    <div class="card-block">
                        <img class="card-img-top" src='/static/{{img.image.image}}'>
                        <span class="card-title">{{img.image.label}}</span>
                    </div>
                </div>
            </div>
                {% endfor %}
                {% endif %}
              {% endfor %}
            {% endif%}
            {% endwith %}
        </div>
          <div class="strap" style="background: {{tab.color}}">
            </div>
      </div>
      {% endfor %}

    </div>
    {% endfor %}

    <div class="tab-container">
      {% for t in tabs %}
      <div class="tab {% if forloop.first %}active{% endif %}" id="{{t.id}}" style="background: {{t.color}}">
      <button class="tab-button " style="cursor:pointer" onclick="">
        {% if t.name %}
        {{t.name}}
        {% endif %}
      </button>
      </div>
      {% endfor %}
      <div class="tab-add">
      <button class="tab-button add" style="cursor:pointer" onclick="asd(2)">
        <i class="fa-solid fa-plus"></i>
      </button>
      </div>
    </div>
  </div>

  <div class="bottom-bar-container" >
      <div class="sentence-bar" id="sounds" style="background: var(--yellowish);">
        <div class="board-buttons">
            <a href="{{current_path}}">
                <button id="input_form" class="board-button"><i class="fa-solid fa-xmark"></i></button>
            </a>
            <button id="play-all" class="board-button" onclick="clickBtn()"><i class="fa-solid fa-play"></i></button>
        </div>
        <div class="board-content-wrapper droppable" ondragover="allowDrop(event)" ondrop="drop(event)">
        </div>
      </div>

      <div class="edit-bar" id="edit">
        <div class="right-edit" style="position: absolute; left: 0;">
            <button class="lock-button edit-button" id="lock" onclick="lock()"><i class="fa-solid fa-lock-open"></i></button>
            <button class="library-button edit-button" id="library-button" onclick="openLibrary()"><i class="fa-regular fa-images"></i></button>
        </div>
        <div class="left-edit" style="position: absolute; right: 0;">
            <button class="delete-button edit-button" id="delete" onclick=""><i class="fa-solid fa-trash-can"></i></button>
        </div>
      </div>

      <div class="library-container" id="library" style="display: none; overflow-x: auto; overflow-y: hidden;">
          <div class="library-header">
              <button style="border: none; background: transparent; color: #fff;"  onclick="closeLibrary()"><i class="fa-solid fa-chevron-left"></i> Медиатека</button>
          </div>
          <div id="category_container" class="library-content" style="display: flex;">
              {% for c in categories %}
              <div style="margin: 0px 15px 0px 15px; cursor: pointer;" onclick="openCategory({{c.id}})">
                  <div style="display: flex; height: 50px; width: 70px; justify-content: center; align-items: center;">
                      <span class="card-title">{{c.name}}</span>
                  </div>
                <div style="display: flex; font-size: 30px; justify-content: center; align-items: center;">
                    <i class="fa-regular fa-images"></i>
                </div>
              </div>
              {% endfor %}
          </div>
      </div>
      <div id="category_images_container" class="library-container" style="display:none; overflow-x: auto; overflow-y: hidden;"></div>


<!--      <div class="library-bar" id="library">-->

<!--&lt;!&ndash;        <div class="sort-button-container" style="overflow: auto; display: flex;">&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="back-button" onclick="closeLibrary()"><i class="fa-solid fa-arrow-left-long"></i></button>&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="sort-button active">Все</button>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            {% for c in categories %}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <button class="sort-button">{{c.name}}</button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            {% endfor %}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class="library-image-container">-->
<!--            {% for img in images %}-->
<!--            <div class="library-bar-item">-->
<!--                    <div class="card-block">-->
<!--                        <img class="card-img-top" src='/static/{{img.image}}'>-->
<!--                        <span class="card-title">{{img.label}}</span>-->
<!--                    </div>-->
<!--            </div>-->
<!--              {% endfor %}-->
<!--        </div>-->
<!--  </div>-->
  </div>

<div class="hide-form add-form" id="asd" style="background:#fff;">
    <div style="margin:2px; width: 100%; height: 10px;">
        <button onclick="asd(1, -1)" style="float: right; background: #fff; border: none; font-size: 30px; color:var(--main-color);"><i class="fa-solid fa-square-xmark"></i></button>
    </div>
  <div>
      <h3>Создать новую вкладку</h3>
  </div>
    <form method="POST" style="margin: 10px 0px">
        {% csrf_token %}
        <label>Название вкладки</label>
        <br>
        <input class="form-input" type="text"
                       placeholder="Введите название"
                       id="name" name="name" required
               style="width: 70%; border-radius: 5px; margin-top: 5px;"/>
        <br>
        <label>Количество полос</label>
        <br>
        <input type="range" min="1" max="5" step="1" value="3" id="straps" name="straps" style="accent-color: var(--main-color)"> <label id="straps_num"></label>
        <br>
        <label>Выберите цвет вкладки: </label>
        <br>
        <input type="color" id="color" name="color" value="#cc4b48" list="color_list">
        <datalist id="color_list">
            <option value="#cc4b48" />
            <option value="#619451" />
            <option value="#e2ad51" />
            <option value="#30b58d" />
        </datalist>
        <br><br>
        <button type="submit" style="border: none; background: var(--main-color); color: #fff; border-radius: 10px; padding: 10px 20px;">Создать</button>
    </form>

</div>

<script>
    function openCategory(c_id) {
        let board_id = {{board_id}};
        $.ajax({
            url: "{% url 'board_category' %}",
            method: 'GET',
            data: {"input_data": c_id},
            dataType: "text",
            contentType: "application/json",
            beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
              }
            },
            error: function(xhr, status, error) {
              console.log("error")
            }
          })
          .done(function(data) {
            var category_container = document.getElementById('library');
            category_container.style.display = 'none';
            var imgs_container = document.getElementById('category_images_container');
            imgs_container.style.display = 'block';
            imgs_container.innerHTML = data;
            console.log("Success", data);

          });

          // csrf_Used to get token
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }

          //Csrf in header_Function that grants token
          function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          };
          let text = '{{category_id}}';
        console.log("TEXT", text);
    }

</script>
<script>
    const color = document.getElementById('color');
    const range = document.getElementById('straps');
    const label = document.getElementById('straps_num');
    label.textContent = range.value;
    range.addEventListener("input", (event) => {
      label.textContent = event.target.value;
    });

    function clickBtn() {

        const sounds = document.querySelectorAll("#sounds span");
        let txt = "";
        for (const sound of sounds) {
          txt += sound.textContent + " ";
        }

          $.ajax({
            url: "{% url 'call_play_sound' %}",
            method: 'GET',
            data: {"input_data": txt, "board_id": {{board_id}} },
            dataType: "text",
            contentType: "application/json",
            beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
              }
            },
            error: function(xhr, status, error) {
              console.log("error")
            }
          })
          .done(function(data) {
            console.log("Success");
          });

          // csrf_Used to get token
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }

          //Csrf in header_Function that grants token
          function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          };
        }
</script>

<!--    <script src="{% static 'script/dnd.js' %}"></script>-->
<!--    <script src="{% static 'script/dnd-items.js' %}"></script>-->
<!--    <script src="{% static 'script/dnd-columns.js' %}"></script>-->
<script src="{% static 'script/active-tabs.js' %}"></script>

<script src="{% static 'script/drag_drop.js' %}"></script>
<script>
function unlock() {
    document.getElementById("sounds").style.display="none";
    document.getElementById("unlock").style.display="none";
    document.getElementById("library").style.display="none";
    document.getElementById("edit").style.display="flex";
    document.getElementById('category_images_container').style.display="none";
}
function lock() {
    document.getElementById("sounds").style.display="block";
    document.getElementById("unlock").style.display="flex";
    document.getElementById("edit").style.display="none";
    document.getElementById("library").style.display="none";
    document.getElementById('category_images_container').style.display="none";
}
function openLibrary() {
    document.getElementById("sounds").style.display="none";
    document.getElementById("unlock").style.display="none";
    document.getElementById("edit").style.display="none";
    document.getElementById("library").style.display="block";
    document.getElementById('category_images_container').style.display="none";
}
function closeLibrary() {
    document.getElementById("sounds").style.display="none";
    document.getElementById("unlock").style.display="none";
    document.getElementById("edit").style.display="flex";
    document.getElementById("library").style.display="none";
    document.getElementById('category_images_container').style.display="none";
}


function asd(a) {
    if(a==1)
        document.getElementById("asd").style.display="none";
    else
        document.getElementById("asd").style.display="block";
}


<!--    var el = document.getElementsByClassName('droppable');-->
<!--    for (let i = 0; i < el.length; i++) {-->
<!--      Sortable.create(el[i], {-->
<!--      handle: '.board-item',-->
<!--      animation: 150-->
<!--    });-->
<!--    }-->

<!--Sortable.create(.droppable, { /* options */ });-->

<!--// List with handle-->
<!--Sortable.create(.droppable, {-->
<!--  handle: '.board-item',-->
<!--  animation: 150-->
<!--});-->
</script>


{% endblock content %}