{% extends 'navbar.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<style>
    label {
        width: 250px;
    }
</style>
<div style="padding-top: 30px">
    <h4>Профиль</h4>
    <div style="display: flex; padding-top: 20px">
        <div>
            {% if caregiver.profile_pic is not defined %}
            <img src="{% static 'profile_pics/no_profile_pic.png' %}" style="width: 250px;">
            {% else %}
            <img src="{% static '{{caregiver.profile_pic}}' %}">
            {% endif %}
        </div>
        <form style="margin-left: 50px; font-size: 20px">
            <div style="margin: 10px">
                <label>Имя: </label>
                <field> {{caregiver.user.first_name}} </field>
            </div>
            <div style="margin: 10px">
                <label>Фамилия: </label>
                <field> {{caregiver.user.last_name}} </field>
            </div>
            <div style="margin: 10px">
                <label>Имя пользователя: </label>
                <field> {{caregiver.user.username}} </field>
            </div>
            <div style="margin: 10px">
                <label>Почта: </label>
                <field> {{caregiver.user.email}} </field>
            </div>
        </form>
    </div>
    <div style="margin-top: 30px;">
        <h3>Мои подопечные</h3>
    </div>
    <div style="margin-top: 30px">
        <button onclick="gencode()" style="background: var(--main-color); color: #fff; border: 1px solid #D9D9D9; border-radius: 5px 5px 0px 0px; padding: 3px 8px 3px 8px;">Сгенерировать код</button>
        <button onclick="asd2(-1)" style="border: 2px solid #D9D9D9; border-radius: 5px 5px 0px 0px; padding: 3px 8px 3px 8px;">Ввести код</button>
        {% include 'caregiver_recipients.html' %}
    </div>

</div>
<div class="hide-form generate" id="asd" style="background:#fff;">
    <div style="margin:2px; width: 100%; height: 10px;">
        <button onclick="asd(1)" style="float: right; background: #fff; border: none; font-size: 30px; color:var(--main-color);"><i class="fa-solid fa-square-xmark"></i></button>
    </div>
  <div>
      <h3>Одноразовый код</h3>
  </div>
    <form  style="margin: 10px 0px">
        {% csrf_token %}
        <div id='generate-code-form'> </div>
    </form>

</div>

<div class="hide-form verify" id="asd2" style="background:#fff;">
    <div style="margin:2px; width: 100%; height: 10px;">
        <button onclick="asd2(1)" style="float: right; background: #fff; border: none; font-size: 30px; color:var(--main-color);"><i class="fa-solid fa-square-xmark"></i></button>
    </div>
  <div>
      <h3>Введите код</h3>
  </div>
    <form method="POST" style="margin: 10px 0px">
        {% csrf_token %}

        {% include 'verify_code.html' %}
    </form>
</div>

<script>
    function gencode() {
        document.getElementById("asd").style.display="block";
        $.ajax({
            url: "{% url 'generate_code' %}",
            method: 'GET',
            data: {"input_data": ''},
            dataType: "text",
            contentType: "application/json",
            beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
              }
            },
            error: function(xhr, status, error) {
              console.log("error")
            }
          })
          .done(function(data) {
            var imgs_container = document.getElementById('generate-code-form');
            imgs_container.innerHTML = data;
            console.log("Success", data);

          });

          // csrf_Used to get token
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }

          //Csrf in header_Function that grants token
          function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          };
    }

    function asd(a) {
    if(a==1)
        document.getElementById("asd").style.display="none";
    else
        document.getElementById("asd").style.display="block";
}

function asd2(a) {
    if(a==1)
        document.getElementById("asd2").style.display="none";
    else
        document.getElementById("asd2").style.display="block";
}

</script>
{% endblock content %}