{% extends 'navbar.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<style>
    body {
        background-color: var(--light-grey);
    }
    main {
        margin-top: 50px;
    }
.center {
    margin: auto;
    width: 40%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    .card-img-top {
        width:200px;
        height:200px;
        object-fit: cover;
    }
    .card-block {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
    }

    .card {
      flex-basis: calc(20% - 25px);
      margin: 10px;
      padding: 5px;
      box-sizing: border-box;
      border: 1px solid;
      border-color: rgba(0, 0, 0, 0.20);
      border-radius: 5px;
      text-align: center;
    }
</style>

<h1 style="margin: 10px;">{{category}}</h1>
<div class="card-container">
{% for image in images %}
    <div class="card" style="overflow: hidden; ">
        <img class="card-img-top" src='/static/{{image.image}}'>
        <div class="card-block">
            <h5 class="card-title">{{ image.label }}</h5>
            <button onclick="asd(2, {{image.id}})" style="background: none; border: none; cursor:pointer;"><i style="color:var(--main-color); font-size: 25px;" class="fa-solid fa-square-plus"></i></button>
        </div>
    </div>
{% endfor %}
</div>


<div id="asd" class="center hide-form" style="width: 30%;">
    <button onclick="asd(1, -1)" style="float: right; background: #fff; border: none; font-size: 30px; color:var(--main-color);"><i class="fa-solid fa-square-xmark"></i></button>
    <form method="POST">
        {% csrf_token %}

        {% render_field addimageForm.image_id style="display:none;" id="img-id" %}
        Выбрать доску:<br>
        {% render_field addimageForm.board %}
        <br><br>
        Выбрать вкладку:<br>
        {% render_field addimageForm.tab %}
        <br><br>
        <button type="submit" style="border: none; background: var(--main-color); color: #fff; border-radius: 10px; padding: 10px 20px;">Добавить</button>
    </form>
</div>

<script>
function asd(a, id)
{
    if(a==1)
        document.getElementById("asd").style.display="none";
    else
        document.getElementById("asd").style.display="block";
        document.getElementById("img-id").value=id
}
</script>
{% endblock content %}
