{% extends 'navbar.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<style>
    body {
        background-color: var(--light-grey);
    }
    main {
        display: grid;
        place-items: center;
        position: relative;
        margin-top: 50px;
    }
    .login-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wrapper{
        width: 600px;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    }
    .wrapper .title {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        color: #fff;
        border-radius: 15px 15px 0 0;
        background: var(--main-color);
        padding: 20px 50px 20px 50px;
    }
    .signup-role {
        display: flex;
        position: relative;
        justify-content: center;
    }
    .signup-role-btn{
        margin:20px 10px 0px 10px;
        width: calc((100% - 40px)*0.4 - 10px);
        border: 2px solid;
        border-radius: 10px;
        border-color: var(--main-color);
        padding: 5px;
        background: #fff;
    }
    .signup-role-btn.active{
        background: var(--main-color);
        color: #fff;
    }
    form {
        padding: 10px 20px 20px 20px;
    }
    .field {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin-top: 8px;
    }
    .field label {
        width: 80%;
    }
    .field input {
        margin: 10px;
        border: 2px solid;
        border-radius: 10px;
        border-color: var(--dark-grey);
        padding: 10px 10px 10px 20px;
        width: 80%;
    }
    .submit input {
        font-size: var(--font-size);
        background: var(--main-color);
        color: #fff;
        justify-content: center;
        border: none;
    }
    .submit input:hover {
        filter: brightness(90%);
    }
    .signup-link {
        text-align: center;
        margin: 15px;
    }
    .signup-link a {
        color: var(--text-color);
    }
    .signup-link a:hover {
        color: var(--main-color);
    }
</style>
<div class="login-container">
    <div class="wrapper">
        <div class="title">
            <span>Создать аккаунт</span>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="signup-role">
            <button id="cg_role" class="signup-role-btn active" onClick="roleSelection(this)">для Опекуна</button>
            <button id="cr_role" class="signup-role-btn" onClick="roleSelection(this)">для Подопечного</button>
        </div>
        <form method="POST">
            {% csrf_token %}
            <input type="text" id="role" name="role" value="cg_role" style="display: none;">
            <div class="field">
                <label>Введите ваше имя</label>
                {% render_field signupForm.first_name placeholder="Ваше имя" %}
            </div>
            <div class="field">
                <label>Введите вашу фамилию</label>
                {% render_field signupForm.last_name placeholder="Ваша фамилия" %}
            </div>
            <div class="field">
                <label>Введите ваш email</label>
                {% render_field signupForm.email placeholder="Ваш email" %}
            </div>
            <div class="field">
                <label>Введите имя пользователя</label>
                {% render_field signupForm.username placeholder="Имя пользователя" %}
            </div>
            <div class="field">
                <label>Введите пароль</label>
                {% render_field signupForm.password placeholder="Пароль" %}
            </div>
            <div class="field submit">
                <input type="submit" value="Зарегистрироваться">
            </div>
            <div class="signup-link">
                Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a>
            </div>
        </form>
    </div>
</div>

<script>
    function roleSelection(e) {
        if(!e.classList.contains('active')) {
            document.getElementsByClassName('active')[0].classList.remove('active');
            e.classList.add('active');
        }
        document.getElementById('role').value = e.id;
    }
</script>
{% endblock content %}