<style>
    .verinp {
        width: 12%;
        height: 45px;
        margin: 2%;
    }
</style>
{% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
<div style="display: flex; margin-bottom: 20px;">

    <input class="verinp" type="number" inputmode="numeric" min="0" step="1"name="d1"/>
<input class="verinp" type="number" inputmode="numeric" min="0" step="1" name="d2"/>
<input class="verinp" type="number" inputmode="numeric" min="0" step="1" name="d3"/>
<input class="verinp" type="number" inputmode="numeric" min="0" step="1" name="d4"/>
<input class="verinp" type="number" inputmode="numeric" min="0" step="1" name="d5"/>
<input class="verinp" type="number" inputmode="numeric" min="0" step="1" name="d6"/>
</div>


<button style="border: none; background: var(--main-color); color: #fff; border-radius: 10px; padding: 10px 20px;">Отправить</button>